.card {
  perspective: 150rem;

  position: relative;

  height: 52rem;

  &__side {
  }

  &__side_front {
    position: absolute;
    background-color: rgba($color-white, 0.8);
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
    backface-visibility: hidden;

    height: 52rem;
    width: 100%;

    transition: all 0.8s ease;
  }

  &__side_back {
    position: absolute;
    background-color: rgba($color-white, 0.8);
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
    backface-visibility: hidden;

    height: 52rem;
    width: 100%;

    transition: all 0.8s ease;
    transform: rotateY(180deg);

    &-1 {
      background-image: linear-gradient(
        to right bottom,
        $color-secondary-light,
        $color-secondary-dark
      );
    }
  }

  &:hover &__side_front {
    transform: rotateY(-180deg);
  }

  &:hover &__side_back {
    transform: rotateY(0);
  }

  &__picture {
    -webkit-background-blend-mode: screen;
    background-blend-mode: screen;
    background-size: cover;

    height: 40%;

    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

    &-1 {
      background-image: linear-gradient(
          to right,
          $color-secondary-light,
          $color-secondary-dark
        ),
        url(../image/nat-5.jpg);
    }
  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;

    position: absolute;
    right: 2rem;
    top: 20%;

    width: 70%;
  }

  &__heading-span {
    color: white;
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    &_1 {
      background-image: linear-gradient(
        to right bottom,
        rgba(255, 185, 0, 0.85),
        rgba(255, 119, 48, 0.85)
      );
    }
  }
}
